body{
    background-image:url("https://t4.ftcdn.net/jpg/04/27/86/39/360_F_427863926_mPyhfWhQX8v1JeF8Hj1X1AekchvSGdZt.jpg");
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    }
    
    .box {
    width: 70%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    margin-top:80px;
    background:#dbdbdb78;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;}
      
    h1 {text-align: center;}
      
    p { text-align: justify;}
      
    button {
    display: block;
    margin: auto;
    text-align:end;}
    
    button a{text-decoration: none;}
    
    button:hover{
        background-color:gray;
    }
    button a:hover{color:white;}